$bg_color: #F6F6F6;
$border_color: #e1e1e1;
$text_color: #343a40;
$text2_color: #fff;
$text3_color: #777777;
$yellow: #ffc107;
$yellow_hover: #e0a800;
$red: #dc3545;
$red_hover: #c82333;
$green: #28a745;
$green_hover: #218838;

$blue_focus: rgba(38, 143, 255, 0.3);
$yellow_focus: rgba(222, 170, 12, 0.5);
$red_focus: rgba(225, 83, 97, 0.5);
$green_focus: rgba(72, 180, 97, 0.5);